body {
  background-color: lightpink;
}
.grid {
  border: 1px solid black;
  width: 500px;
  height: 500px;
}
.row {
  border-bottom: 1px solid black;
  width: 100%;
  height: 25%;
  vertical-align: sub;
}
.row > div {
  display: inline-block;
  border-right: 1px solid black;
  width: 25%;
  height: 100%;
  font-size: 45px;
  text-align: center;
  margin-left: -1px;
}
.row > div p {
    vertical-align: middle;
    transform: translateY(-12%);

}
.row > div:last-child {
  border-right: none;
}
